@page "/Deneme"
<style>
    .genelDiv{
        width:80%;
        height:100vh;
        justify-content:center;
        align-items:center;
        border: 2px solid #BE1C7F;
        margin: 0 auto;
        margin-top:2%;
    }
</style>

<html lang="en">
    

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/Deneme.css"/>
    <link rel="stylesheet" href="/css/ReduktorSecim.css" />
    </head>
    <body>
    <div class="genelDiv">
        <div class="box" id="box2">
            Redüktör  Seçim Programı
        </div>
        <div class="box" id="box3">
            <div class="container">
                <div class="frame">
                    <div class="blazordiv">
                        <div class="blazor-section">1</div>
                        <div class="blazor-section">2</div>
                        <div class="blazor-section">3</div>
                        <div class="blazor-section">4</div>
                        <div class="blazor-section">5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>


@code {

}
