@page "/ErcanDeneme"

<html lang="en">
    <head>
    <link rel="stylesheet" href="/css/Aform.css" />
    <link rel="stylesheet" href="/css/Deneme.css" />
    </head>
    <body>
    <div class="genelDiv">
        <div class="box" id="box2">
            Redüktör  Seçim Programý
        </div>
        <div class="box" id="box3">
            <div class="container">
                <div class="frame">
                    <div class="blazordiv">
                        <div class="blazor-section">1</div>
                        <div class="blazor-section">2</div>
                        <div class="blazor-section">3</div>
                        <div class="blazor-section">4</div>
                        <div class="blazor-section">5</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>

@code {

}

