@page "/"

<html lang="en">
<head>
    <link rel="stylesheet" href="/css/Deneme.css" />
    <link rel="stylesheet" href="/css/ReduktorSecim.css" />
</head>
<body>

    <div class="box" id="box2">
        Redüktör  Seçim Programı
    </div>
    <div class="box" id="box3">
        <div class="container">
            <div class="frame">
                <div class="blazordiv">
                    <div class="blazor-section">1</div>
                    <div class="blazor-section">2</div>
                    <div class="blazor-section">3</div>
                    <div class="blazor-section">4</div>
                    <div class="blazor-section">5</div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" id="box4">
        <div class="container2">
            <div class="alt1">
                <h2>MOTORLU REDÜKTÖRLER</h2>
            </div>
            <div class="alt2">
                <div class="prt">
                    <div>
                        <img class="mn" src="/css/images/mr_rt.png" />
                    </div>
                    <div class="aciklama">M/N SERİSİ</div>
                    <div class="aciklama2">
                        [50 - 18000 Nm]
                    </div>
                </div>
                <div class="prt">
                    <div>
                        <img class="mn" src="/css/images/dr_rt.png" />
                    </div>
                    <div class="aciklama">D SERİSİ</div>
                    <div class="aciklama2">
                        [130 - 18000 Nm]
                    </div>
                </div>
                <div class="prt">
                    <div>
                        <img class="mn" src="/css/images/k_serisi.png" />
                    </div>
                    <div class="aciklama">K SERİSİ</div>
                    <div class="aciklama2">
                        [80 - 20000 Nm]
                    </div>
                </div>
                <div class="prt">
                    <div>
                        <img class="mn" src="/css/images/e_serisi.png" />
                    </div>
                    <div class="aciklama">E SERİSİ</div>
                    <div class="aciklama2">
                        [5 - 1000 Nm]
                    </div>
                </div>
                <div class="prt">
                    <div>
                        <img class="mn" src="/css/images/pser.png" />
                    </div>
                    <div class="aciklama">P SERİSİ</div>
                    <div class="aciklama2">
                        [1000 - 13500 Nm]
                    </div>
                </div>
            </div>
            <div class="alt3">
                <h2>MOTORSUZ REDÜKTÖRLER</h2>
            </div>
            <div class="alt4">

                <div class="crt">
                    <div>
                        <img class="mn" src="/css/images/mvf_rt.png" />
                    </div>
                    <div class="aciklama3">M/N SERİSİ</div>
                    <div class="aciklama4">
                        [50 - 18000 Nm]
                    </div>
                </div>
                <div class="crt">
                    <div>
                        <img class="mn" src="/css/images/dt_rt.png" />
                    </div>
                    <div class="aciklama3">D SERİSİ</div>
                    <div class="aciklama4">
                        [130 - 18000 Nm]
                    </div>
                </div>
                <div class="crt">
                    <div>
                        <img class="mn" src="/css/images/kt_rt.png" />
                    </div>
                    <div class="aciklama3">K SERİSİ</div>
                    <div class="aciklama4">
                        [80 - 20000 Nm]
                    </div>
                </div>
                <div class="crt">
                    <div>
                        <img class="mn" src="/css/images/en_rt.png" />
                    </div>
                    <div class="aciklama3">E SERİSİ</div>
                    <div class="aciklama4">
                        [5 - 1000 Nm]
                    </div>
                </div>
                <div class="crt">
                    <div>
                        <img class="mn" src="/css/images/ptı_rt.png" />
                    </div>
                    <div class="aciklama3">P/R SERİSİ</div>
                    <div class="aciklama4">
                        [1000 - 13500 Nm]
                    </div>
                </div>
                <div class="crt">
                    <div>
                        <img class="mn" src="/css/images/ht_rt.png" />
                    </div>
                    <div class="aciklama3">H/B SERİSİ</div>
                    <div class="aciklama4">
                        [48700 - 470000 Nm]
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>


</html>
